---
http_interactions:
- request:
    method: post
    uri: https://sandbox.alloy.co/evaluations
    body:
      encoding: UTF-8
      string: address_city=Richmond&address_country_code=US&address_line_1=1717+E+Test+St&address_postal_code=23220&address_state=VA&birth_date=1985-01-23&document_ssn=123456789&email_address=tommy%40alloy.co&name_first=Thomas&name_last=Nicholas&phone_number=18042562188&social_twitter=tommyrva
    headers:
      Authorization:
      - Bearer zUUYAdWTraD7pUlvjvh8yVkIB9Ich8Or7SU5Cjct
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Alloy-Sandbox:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '{"status_code":201,"error":null,"timestamp":1484864077395,"evaluation_token":"S-ds1uAPbr4AK6x9ojkcda","entity_token":"P-w6GdBnGtzKjbviNbtIDR","application_token":"dpDD6z4olOSI7N4fMCsAlKjFa7reBYhu","application_version_id":11,"summary":{"result":"success","score":1,"tags":[],"outcome":null,"services":{"Lexis
        Nexis Instant ID":"executed"}},"supplied":{"address_city":"Richmond","address_country_code":"US","address_line_1":"1717
        E Test St","address_postal_code":"23220","address_state":"VA","birth_date":"1985-01-23","document_ssn":"123456789","email_address":"tommy@alloy.co","name_first":"Thomas","name_last":"Nicholas","phone_number":"18042562188","social_twitter":"tommyrva"},"formatted":{"address_city":"Richmond","address_country_code":"US","address_line_1":"1717
        E Test St","address_postal_code":"23220","address_state":"VA","birth_date":"1985-01-23","document_ssn":"123456789","email_address":"tommy@alloy.co","name_first":"Thomas","name_last":"Nicholas","phone_number":"+18042562188","social_twitter":"tommyrva"},"matching":{"name":{"score":1,"matched":["Lexis
        Nexis Instant ID"],"unmatched":[]},"address":{"score":1,"matched":["Lexis
        Nexis Instant ID"],"unmatched":[]},"ssn":{"score":1,"matched":["Lexis Nexis
        Instant ID"],"unmatched":[]},"dob":{"score":1,"matched":["Lexis Nexis Instant
        ID"],"unmatched":[]},"phone":{"score":1,"matched":["Lexis Nexis Instant ID"],"unmatched":[]}},"diligence":{"watchlists":{"lists":["BES","CFTC","DTC","EUDT","FBI","FCEN","FAR","IMW","OFAC","OCC","OSFI","PEP","SDT","UNNT","BIS","WBIF"],"matches":[]},"fraud":null,"financial":null,"identity_questions":null},"related_data":{},"raw_responses":{"Lexis
        Nexis Instant ID":[{"response":{"Header":{"Status":0,"TransactionId":"0"},"Result":{"InputEcho":{"SSN":"123456789","SSNLast4":"6789","IPAddress":"192.168.0.1","Name":{"Last":"Nicholas","First":"Thomas"},"Address":{"StreetAddress1":"1717
        E Test St","StreetAddress2":"APT 2L","City":"Richmond","State":"VA","Zip5":"23220"},"DOB":{"Year":1985,"Month":1,"Day":23},"Channel":null,"Passport":{"Number":"","Country":"","ExpirationDate":null,"MachineReadableLine1":"","MachineReadableLine2":""},"HomePhone":"+18042562188","OwnOrRent":null,"ApplicationDateTime":{"Day":19,"Year":2017,"Month":1,"Hour24":22,"Minute":14,"Second":37}},"UniqueId":"1567805191","NameAddressSSNSummary":12,"AdditionalScore1":0,"AdditionalScore2":0,"PhoneOfNameAddress":8043563199,"SSNInfo":{"Valid":"G","IssuedEndDate":{"Year":"1979","Month":"12"},"IssuedLocation":"VIRGINIA","IssuedStartDate":{"Year":"1977","Month":"01"}},"CurrentName":{"Last":"NICHOLAS","First":"THOMAS"},"ReversePhone":{"Name":{"Last":"NICHOLAS","First":"THOMAS"},"Address":{"City":"RICHMOND","Zip5":"23220","State":"VA","StreetName":"STUART","UnitNumber":"1","StreetNumber":"300","StreetSuffix":"AVE","StreetAddress1":"3000
        STUART AVE APT 1","UnitDesignation":"APT"}},"VerifiedInput":{"DOB":{"Day":"XX","Year":"1986","Month":"04"},"SSN":"61252xxxx","Name":{"Last":"NICHOLAS","First":"THOMAS"},"Address":{"City":"RICHMOND","Zip4":"2186","Zip5":"23220","State":"VA","StreetName":"STUART","UnitNumber":"1","StreetNumber":"3000","StreetSuffix":"AVE","StreetAddress1":"3000
        STUART AVE","UnitDesignation":"APT"},"HomePhone":"8043563199"},"ComprehensiveVerification":{"ComprehensiveVerificationIndex":50,"PotentialFollowupActions":{"FollowupAction":[{"RiskCode":"B","Description":"Verify
        name with Social (via SSN card, DL if applicable, paycheck stub, or other
        Government Issued ID)"},{"RiskCode":"C","Description":"Verify name with Address
        (via DL, utility bill, Directory Assistance, paycheck stub, or other Government
        Issued ID)"}]},"RiskIndicators":{"RiskIndicator":[{"RiskCode":"PA","Sequence":1,"Description":"Potential
        address discrepancy - the Input address may be previous address"},{"RiskCode":"SD","Sequence":2,"Description":"The
        input address state is different than LN best address on file"},{"RiskCode":"10","Sequence":3,"Description":"The
        input phone number is a mobile number"}]}},"NameAddressPhone":{"Summary":12},"AddressPOBox":false,"SSNFoundForLexID":true,"AddressCMRA":false,"DOBMatchLevel":8,"PassportValidated":false,"InstantIDVersion":"1","ChronologyHistories":{"ChronologyHistory":[{"Address":{"City":"RICHMOND","Zip4":"2186","Zip5":"23220","State":"VA","StreetName":"STUART","UnitNumber":"1","StreetNumber":"300","StreetSuffix":"AVE","StreetAddress1":"3000
        STUART AVE APT 1","UnitDesignation":"APT"},"DateLastSeen":{"Year":"2015","Month":"07"},"DateFirstSeen":{"Year":"2007","Month":"09"},"IsBestAddress":true},{"Phone":"8043563199","Address":{"City":"FORT
        WASHINGTON","Zip4":"4851","Zip5":"20749","State":"MD","StreetAddress1":"PO
        BOX 44851"},"DateLastSeen":{"Year":"2013","Month":"07"},"DateFirstSeen":{"Year":"1999","Month":"02"}},{"Phone":"8043563199","Address":{"City":"FREDERICKSBURG","Zip4":"6495","Zip5":"22406","State":"VA","StreetAddress1":"606
        ENGLAND POINTE DR"},"DateLastSeen":{"Year":"2013","Month":"07"},"DateFirstSeen":{"Year":"2000","Month":"05"}}]},"DOBVerified":true,"WatchLists":{"WatchList":[]}}}}]},"formatted_responses":{"Lexis
        Nexis Instant ID":{"matching":{"name":{"score":1,"matched":true},"address":{"score":1,"matched":true},"ssn":{"score":1,"matched":true},"dob":{"score":1,"matched":true},"phone":{"score":1,"matched":true}},"diligence":{"watchlists":{"lists":["BES","CFTC","DTC","EUDT","FBI","FCEN","FAR","IMW","OFAC","OCC","OSFI","PEP","SDT","UNNT","BIS","WBIF"],"matches":[]},"fraud":{"score":null,"flags":null},"financial":{"credit":null,"banking":null},"identity_questions":null},"data":{"identity_theft_risk":1,"risk_codes":["PA","SD","10"],"followup_codes":[],"address":{"po_box":false,"commercial_mail":false},"ssn":{"issuance_start_date":"1977-01-1","issuance_end_date":"1979-12-1","issuance_state":"VIRGINIA"},"reverse_phone":{"name_first":"THOMAS","name_last":"NICHOLAS","address_city":"RICHMOND","address_state":"VA","address_postal_code_last5":"23220"},"reverse_name_address":{"phone_number":8043563199},"verification":{"dob_day":true,"dob_month":true,"dob_year":true,"name_first_last":true,"name_first_address":true,"name_last_address":true,"name_first_phone":true,"name_last_phone":true,"name_first_ssn":true,"name_last_ssn":true,"address_phone":true,"address_ssn":true,"name_first_last_address":true,"name_first_last_phone":true,"name_first_last_ssn":true,"name_first_address_phone":true,"name_last_address_phone":true,"name_first_last_address_phone":true,"name_first_address_ssn":true,"name_last_address_ssn":true,"name_first_last_address_ssn":true}}}},"audit_archive":null}'
  recorded_at: Thu, 19 Jan 2017 22:14:36 GMT
recorded_with: VCR 3.0.3
