---
http_interactions:
- request:
    method: post
    uri: https://sandbox.alloy.co/evaluations
    body:
      encoding: UTF-8
      string: address_city=Washington&address_country_code=US&address_line_1=1717+E+Test+St&address_postal_code=20005&address_state=DC&birth_date=1985-01-01&document_ssn=123456789&name_first=John&name_last=Doe&phone_number=8005551212
    headers:
      Authorization:
      - Bearer zUUYAdWTraD7pUlvjvh8yVkIB9Ich8Or7SU5Cjct
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Alloy-Sandbox:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '{
  "evaluation_token": "S-eJ38yUNDqcMxKwwdxbya",
  "error": null,
  "timestamp": 1475258667031,
  "entity_token": "P-Hp6QxEGwNg6sgYNuXdqF",
  "application_token": "dpDD6z4olOSI7N4fMCsAlKjFa7reBYhu",
  "application_version_id": 11,
  "required": [
    {
      "key": "answers",
      "type": "object",
      "description": "Object containing answers to out of wallet question prompts.",
      "template": {
        "answers": [
          {
            "question_id": 1,
            "answer_id": 0
          },
          {
            "question_id": 2,
            "answer_id": 0
          },
          {
            "question_id": 3,
            "answer_id": 0
          },
          {
            "question_id": 4,
            "answer_id": 0
          },
          {
            "question_id": 5,
            "answer_id": 0
          }
        ]
      }
    }
  ],
  "optional": [],
  "prompts": {
    "answers": {
      "questions": [
        {
          "id": 1,
          "question": "What state was your SSN issued in?",
          "answers": [
            {
              "id": 1,
              "answer": "Arkansas"
            },
            {
              "id": 2,
              "answer": "Alabama"
            },
            {
              "id": 3,
              "answer": "West Virginia"
            },
            {
              "id": 4,
              "answer": "Virginia"
            },
            {
              "id": 5,
              "answer": "None Of The Above"
            }
          ]
        }
      ]
    }
  }
}'
  recorded_at: Thu, 19 Jan 2017 22:14:36 GMT
recorded_with: VCR 3.0.3
